@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

div {
  color: #848492
}

p {
  color: #848492
}

#app {
  width: 100%;
  height: 100%;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h1 {
  color: #868696
}

h2 {
  color: #868696
}

nav>* {
  position: relative !important;
}

/* 
for the main div on the home screen that has the team photo and other info,
sorry for abandoning dreamland for this one.
*/
#homeDiv {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  #homeDiv {
    flex-direction: column;
    align-items: center;
  }

  #teamPhoto {
    width: 60vw;
  }

  span>button {
    width: 15vw !important;
  }

  span>button>.outfit-regular {
    visibility: hidden !important;
  }

  span>button>svg {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}